*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
html, body{
  background-color: #edeef0;  /*  #75605b */
}
.active{
  color: #0652DD
}
.loader{
  margin-top: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.btn-scroll-up{
  width: 50px;
  height: 50px;
  border: none;
  position: fixed;
  right: calc((100vw - 365px) / 2);
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: 500ms;
  z-index: 11;
  background-color: rgba(189, 195, 199, .5);
  border-radius: 5px;
}
.btn-scroll-up:hover{
  background-color: #1dd1a1;
}
.btn-scroll-up .up-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.print-error{
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 118, 117, .4);
  color: rgba(44, 62, 80,1.0);
  border-radius: 5px;
  text-align: center;
}
.print-error h5{
  padding-top: 17px;
}


header{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .header-body{
  margin: 0 auto;
  width: 845px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-body .logotype a{
  text-decoration: none;
  font-size: 25px;
  color: #000000;
}
header .header-body nav a{
  margin-left: 1.5em;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  transition: color 300ms;
  position: relative;
}
header .header-body nav a:hover{
  color: #0652DD;
}

header .header-body nav a:hover::before{
  content: "";
  display: block;
  width: 106%;
  height: 2px;
  border-radius: 10px;
  background-color: #1dd1a1;
  box-sizing: border-box;
  position: absolute;
  left: -3%;
  bottom: -3px;
}






footer{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #dedede;
  z-index: 8;
}
footer .header-footer{
  width: 845px;
  height: 100%;
  background-color: #ffffff;
}


main{
  margin: 15px auto;
  width: 845px;
  height: auto;
  position: relative;
  z-index: 9;
  display: flex;
}
main .content{
  width: 600px;
  height: 100%;
  margin-top: 0;
  margin-right: 15px;
  position: absolute;
  position: relative;
}
main .not-important-nav{
  width: 230px;
  height: calc( (100vh - 90px) - 100px );
  position: sticky;
  top: 70px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

main .not-important-nav nav{
  display: block;
  padding: .5em 1em;
}

main .not-important-nav nav,
main .not-important-nav .free-modul{
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dedede;
}

.wiget{
  width: 100%;
  height: 100px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.navCategory{
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
  padding: .5em .5em 0 .5em;
}
.navCategory a{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1dd1a1;
  color: #000000;
  border-radius: 5px;
  margin: 0 0 .5em .5em;
  padding: .3em .5em;
  transition: 300ms;
}

.navCategory a:hover{
  background-color: #1dd1a1;
  color: #ffffff;
}
.carousel-post{
  border: 1px solid #dedede;
  padding: .5em 1em;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
}
.carousel-post:last-child{
  margin-bottom: 5px;
}

.backPageBtn{
  padding: .4em .6em;
  text-decoration: none;
  background-color: #1dd1a1;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
  left: -40px;
  top: 0;
}
.carousel-post h5{
  margin-top: 7px;
}
.news-link, .title-link{
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  line-height: 21x;
  transition: color 300ms;
  letter-spacing: .03em;
}
.news-link:hover, .title-link:hover{
  color: #0652DD;
}
.carousel-post .desc,
.carousel-post .article-text{
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
}

.PreviewAlbum{
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  margin: .5em 0 .5em 0;
  border-radius: 5px;
  box-sizing: border-box;
}
.post-options{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-options{
  display: flex;
  align-items: center;
}
.wrapper-options span{
  margin-left: 10px;
  margin-right: 10px;
  color: #0652DD;
  position: relative;
  transition: 300ms;
}
.wrapper-options span a{
  text-decoration: none;
  color: #0652DD;
}
.wrapper-options span a:hover::before{
  content: "";
  display: block;
  width: 108%;
  height: 2px;
  border-radius: 10px;
  background-color: #1dd1a1;
  box-sizing: border-box;
  position: absolute;
  left: -3%;
  bottom: -3px;
}
.post-options .opt,
.wrapper-options .share-btn{
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: .3em 1em;
  background-color: #ebedf0;
  color: #818c99;
  cursor: default;
  font-weight: 500;
}
.post-options .opt span{
  margin-left: 10px;
  color: #818c99;
  font-size: 16px;
  font-weight: 500;
}
.wrapper-options .share-btn{
  margin-left: 10px;
  cursor: pointer;
}

.carousel{
  margin-top: .5em;
  margin-bottom: .5em;
}

.carousel-inner {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}
.carousel-item{
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #000000 !important;
}
.carousel-item img{
  height: auto !important;
  width: 100%;
}

.carousel-post .back-page-btn{
  display: inline-block !important;
  background-color: #ebedf0;
  color: #818c99;
  padding: .3em .8em;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: #00d8d6;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 1em;
}

.carousel-post .back-page-btn span{
  margin-left: 5px;
}




.video{
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #dedede;
  background-color: #ffffff;
  padding: .5em;
  margin-bottom: 15px;
}

.video .video-preview a{
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.video .video-preview a img{
  width: 100%;
  height: 100%;
}

.video .video-preview a .play-btn{
  width: 45px;
  height: 45px;
  background-color: rgba(189, 195, 199, .7);
  border-radius: 5px;
  position: absolute;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


#videoplayer{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 5px;
}