*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
  background-color: #f0f0f0;
}

header{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .header-body{
  margin: 0 auto;
  max-width: 70%;
  min-width: 900px;
  min-width: 900px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-body .logotype a{
  text-decoration: none;
  font-size: 25px;
  color: #333333;
}
header .header-body nav a{
  margin-left: 1.5em;
  text-decoration: none;
  color: #909090;
  font-size: 18px;
}
header .header-body nav a:hover{
  color: #00d8d6;
}




main{
  margin: 10px auto;
  max-width: 70%;
  min-width: 900px;
  min-width: 900px;
  height: auto;
  position: relative;
  z-index: 9;
  display: flex;
}
main .content{
  width: 70%;
  height: 100%;
  margin-top: 0;
}
main .not-important-nav{
  width: calc(30% - 10px);
  height: 50vh;
  position: sticky;
  top: 65px;
  left: calc(70% + 10px);
  background-color: #ffffff;
  border-radius: 5px;
}


.carousel-post{
  border: 1px solid #dedede;
  padding: .5em;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.carousel-post .news-link{
  text-decoration: none;
  font-size: 18px;
  color: #3498db;
}
.carousel-post .news-link:hover{
  color: #00d8d6;
}
.carousel-post .post-options{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel-post .post-options .opt{
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: .3em 1em;
  background-color: #ebedf0;
  color: #99a2ad;
  font-size: 14px;
  cursor: default;
  font-weight: 500;
  border: 1px solid #dedede;
}
.carousel-post .post-options .opt span{
  margin-left: 10px;
}


.carousel{
  margin-top: 1em;
  margin-bottom: 1em;
}

.carousel-inner {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}
.carousel-item{
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #000000 !important;
}
.carousel-item img{
  height: auto !important;
  width: 100%;
}